CompiledFiles/WebService/webService-1.0/WEB-INF/XSDs/customer/CustomerDTOs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.customer.dtos.webService/"
        elementFormDefault="qualified"
>
    <complexType name="CustomerDTO">
        <sequence>
            <element name="name" type="string" maxOccurs="1" minOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="UpdatedCustomerDTO">
        <sequence>
            <element name="name" type="string" maxOccurs="1" minOccurs="1"/>
            <element name="newName" type="string" maxOccurs="1" minOccurs="1"/>
        </sequence>
    </complexType>
</schema>